<div class="container">
  <div class="jumbotron">
    <h1 class="text-center">Entertainment Buzz</h1>
    <h2>a Buzzfeed Newsfeed</h2>
    <h3>Your source for everything you never, ever needed to read</h3>
    {{!-- <img class="img-responsive" src="/img/burgers.png"> --}}

  </div>
</div>

      <div class="row container-fluid panel-body news-body">

        <ul>
          {{#each articles}}
            <div class="row">
              <div class="col-sm-12">
                <li>
                  <div class="article-name"><img class="articleimg" src="{{this.img}}"></div>
                  <div class="article-name">{{this.title}}</div>
                  <div class="article-name">{{this.link}}</div>
                  <div class="article-name">{{this.summary}}</div>

                  <form action="/{{this._id}}?_method=PUT" method="POST">
                    <input type="hidden" name="comment" value="true">
                    <button class="btn" type="submit">Comments</button>
                  </form>
                </li>
              </div>
            </div>
            <hr>
          {{/each}}
        </ul>
      </div>
      <hr>


   {{!-- saved?--}}
