<div class="container">
  <div class="jumbotron">
    <h1 class="text-center">Entertainment Buzz</h1>
    <h2>a Buzzfeed Newsfeed</h2>
    <h3>Your source for everything you never, ever needed to read</h3>
    {{!-- <img class="img-responsive" src="/img/burgers.png"> --}}

  </div>
</div>

      <div class="news-body">

        <ul>
          {{#each articles}}
            <div class="row">
              <div class="col-sm-12 article-box">
                <li>
                  <div class="article"><img class="articleimg" src="{{this.img}}"></div>
                  <div class="article"><a href="{{this.link}}" target="_blank">{{this.title}}</a></div>
                  <div class="article">{{this.summary}}</div>

                  <form action="/{{this._id}}?_method=PUT" method="POST">
                    <input type="hidden" name="comment" value="true">
                    <button class="btn" type="submit">Comments</button>
                  </form>
                </li>
              </div>
            </div>

          {{/each}}
        </ul>
      </div>
      <hr>


   {{!-- saved?--}}
